fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
psycopg2-binary
motor==3.3.2
beanie==1.25.0
pymongo==4.6.2
python-multipart
aiokafka
redis
supabase
python-dotenv
passlib[bcrypt]
bcrypt==3.2.2
pyjwt
pydantic-settings
pydantic[email]
email-validator
websockets
jinja2
prometheus-fastapi-instrumentator
httpx
